/* body{
    background-color: white;
}
h1{
    color: aqua;
    padding: 0px;
    text-align: center;
}
.dog{
    align-items: center;
    display: flex;
    justify-content: center;
}
.price{
    text-align: center;
    font-size: 20px;
} */